{% extends "core/base.html" %}

{% block title%}Student Form{% endblock %}

{% block content %}
<h2>Student Form</h2>
<div>
    <form method="POST">
        {% csrf_token %}

        <div>
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div>
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>

        <div>
            {{ form.phone.label_tag }}
            {{ form.phone }}
        </div>

        <div>
            {{ form.course.label_tag }}
            {{ form.course }}
        </div>

        <button type="submit">Add Student</button>
    </form>
</div>
{% endblock %} 